.map-container-wrapped {
    background: gray;
    margin: 20vh 10vh 0 10vh;
}

/*.map-container {*/
/*    position: absolute;*/
/*    background: gray;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    justify-content: center;*/
/*}*/

.map-container img {
    /*pointer-events: none;*/
}

.map {
    position: absolute;
}

.map div {
    position: absolute;
    margin: 0 auto;
}